<section class="trusted-clients body-container">
    <h6>Proudly trusted by</h6>
    <div class="clients-logos">
        <a href="https://www.aston.ac.uk/" target="_blank"><img src="./assets/images/partners/aston.jpeg" alt="client logo"></a>
        <a href="https://shefftechparks.com/" target="_blank"><img src="./assets/images/partners/shefield.jpeg" alt="client logo"></a>
        <a href="https://weareteamsy.org/programmes/the-cooper-project/" target="_blank"><img src="./assets/images/partners/the_cooper.jpeg" alt="client logo"></a>
        <a href="https://b-seen.biz/" target="_blank"><img src="./assets/images/partners/bseen.jpeg" alt="client logo"></a>
    </div>
</section>
