<app-hero></app-hero>
<app-trustedclients></app-trustedclients>
<section class="comp-desc body-container">
    <div class="com-d">
        <img src="../../../../assets/images/abstract-img1.png" alt="abstract-img">
        <article class="lead-texts">
            <h5 class="mb-4">Across Africa, record estimate around 60 million active users and approximately 34 deaths
                every minute from the use of opiate based
                medications for non medical purposes.
            </h5>
            <small><em>A 2021 Report</em></small>
            <p class="my-3">Promoting an ecosystem where regulatory agencies have access to real-time data is key in
                preventing the abuse of opiate based medications.</p>
            <p>Founder's Perspective</p>
        </article>
    </div>
    <div class="com-d marg-top">
        <article class="lead-texts">
            <h5 class="mb-4">ACHIEVING SDG 3.5 IS CRITICAL AND REQUIRES KEY PARTNERSHIPS
            </h5>
            <p class="my-3">Changing the way pharmaceutical businesses interface in Africa, for the collective
                well-being of
                everyone on the continent is our mission and a key to achieving SDG 3.5</p>
        </article>
        <img src="../../../../assets/images/abstract-img2.png" alt="abstract-img">
    </div>
</section>
<section class="journey body-container">
    <h4>Our Journey so far</h4>
    <div class="numbers">
        <div class="transactions num">
            <i class="fa-solid fa-credit-card"></i>
            <h1>15</h1>
            <p>Transactions</p>
        </div>
        <div class="r-pharmacies num">
            <i class="fa-solid fa-house"></i>
            <h1>220</h1>
            <p>Retail Pharmacies</p>
        </div>
        <div class="hospitals num">
            <i class="fa-solid fa-briefcase-medical"></i>
            <h1>155</h1>
            <p>Hospitals</p>
        </div>
        <div class="Processed num">
            <i class="fa-solid fa-money-bill"></i>
            <h1>$25k</h1>
            <p>Processed in 2 months</p>
        </div>
    </div>
</section>
<section class="hiw body-container">
    <h1>How it Works</h1>
    <div class="hiw-contents">
        <img src="../../../../assets/images/hiw-img1.png" alt="How it works">
        <img src="../../../../assets/images/hiw-img2.png" alt="How it works">
        <img src="../../../../assets/images/hiw-img3.png" alt="How it works">
        <img src="../../../../assets/images/hiw-img4.png" alt="How it works">
        <img src="../../../../assets/images/hiw-img5.png" alt="How it works">
    </div>
    <app-btn-comp></app-btn-comp>
</section>
<section class="hiw2 body-container">
    <div class="hiw2-contents" *ngFor="let content of contents">
        <i class={{content.icon}}></i>
        <h5>{{content.title}}</h5>
        <p>{{content.details}}</p>
    </div>
</section>
<app-become-supplier></app-become-supplier>
<app-footer></app-footer>