<main class="container">
    <h4 class="mt-2">Reviews</h4>
    <hr>
    <div class="row">
        <div class="col-md-12" *ngIf="is_loading">
            <p class="text-muted text-center p-2">...loading reviews, please wait</p>
        </div>
        <div class="col-md-12 mt-3 rounded" *ngFor="let review of reviews">
            <div class="p-2 shadow-sm">
                <p>{{review.review}}</p>
                <div class="d-flex justify-content-end">
                    <div class="">
                        <span class="small text-muted">{{review.name}}</span>
                        <br>
                        <span class="small">{{review.designation}}</span>
                    </div>
                </div>
                
                <div class="dropdown">
                    <a class="btn btn-sm btn-warning" data-bs-toggle="dropdown">Action</a>
                    <ul class="dropdown-menu p-2">
                        <li><a role="button" class="small text-success" (click)="approveReview(review.id, 'approved')">Approved</a></li>
                        <li><a role="button" class="small text-warning" (click)="approveReview(review.id, 'declined')">Decline</a></li>
                        <li><a role="button" class="small text-danger" (click)="deleteReview(review.id)">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>