<nav>
    <a routerLink="/" class="nav-brand">
        <img src="./assets/images/10mg-logo.png" alt="logo">
    </a>
    <div class="nav-contents" [ngClass]="openNav ? 'nav-contents-open' : 'nav-contents' ">
        <div class="nav-links" *ngIf="!show_header">
            <ul class="mb-0 ps-0">
                <a routerLink="/" class="me-4">
                    <li>Home</li>
                </a>
                <a routerLink="/about" class="mx-4">
                    <li>About Us</li>
                </a>
                <a routerLink="/auth/shop" class="mx-4" [ngClass]="{'d-none': !appService._is_current_user}">
                    <li>Shop</li>
                </a>
                <a routerLink="/become-supplier" class="ms-4" [ngClass]="{'d-none': appService._is_current_user}">
                    <li>Become a Supplier</li>
                </a>
            </ul>
        </div>
        <div class="nav-btns" *ngIf="!appService._is_current_user && !show_header">
            <a routerLink="/signin"><button class="button secondary-btn me-4">Sign in</button></a>
            <a routerLink="/signup"><button class="button primary-btn">Sign up</button></a>
        </div>
        <div class="nav-btns" *ngIf="show_header || appService._is_current_user">
            <button class="button secondary-btn" (click)="logout()">Logout</button>
        </div>
    </div>

    <div class="open-icon" *ngIf="!openNav" (click)="openNav = true">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="close-icon" *ngIf="openNav" (click)="openNav = false">
        <i class="fa-solid fa-xmark"></i>
    </div>
</nav>
