<app-about-hero></app-about-hero>
<section class="body-container solution">
    <h4>10mg Pharma is a committed partner in the realization of an accontable supply chain for opiate based medications
        in Africa.</h4>
    <p class="mt-3">Our solution improves brand awreness, competitive pricing and prompt delivery. Our ecosystem
        partners with the
        regulatory agenies, providin access to reliable data that invariably improves efficienc in service delivery.</p>
    <div class="sol-img">
        <img src="../../../../assets/images/solution-img.png" alt="solution">
    </div>
</section>
<section class="result body-container">
    <div class="r-lead-texts">
        <h3>10 years plus experience providing pharmaceutical services.</h3>
        <p class="mt-3">Our team have a decade long experience, promoting medications across healthcare facilities in
            Nigeria and the African sub-continent. Pharmili is focused on improving the existing pharmaceutical
            ecosystem by creating a common portal for licensed pharmaceutical businesses to transact safely on
            opiate based medications, while mutually existing with the regulatory agencies.</p>
    </div>
    <img src="../../../../assets/images/abstract-img3.png" alt="">
</section>
<section class="body-container mission_vision_container">
    <div class="mission center">
        <h4>OUR MISSION</h4>
        <p>To support a data centred ecosystem on the use of opiate based medications in Africa.</p>
    </div>
    <div class="vision center">
        <h4>OUR VISION</h4>
        <p>To be a digital solution in the prevention of opiate based medication abuse in Africa.</p>
    </div>
</section>
<section class="body-container support">
    <h3>Support us</h3>
    <p class="mb-5">To support our mission of a friendly and viable ecosystem between licensed pharmaceuticalbusinesses and the
        regulators in achieving SDG goal 3.5, we are open to suggestions and partnership offers.</p>
    <a href="mailto:info@10mg.co.uk"><button class="button">Write Us</button></a>
</section>