<main>
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="back-button">
                <div class="left-content" role="button" onclick="history.back()">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>Back</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--to show the variations of any give drug-->
            <!--<div class="col-md-3">
                <div class="variation-wrapper pt-2">
                    <h5 class="pl-2">Variations <i class="fa fa-info-circle"></i></h5>
                </div>
            </div>-->
            <!--Show the images for the drug here-->
            <div class="col-md-4">
                <div class="gallery-wrapper">
                    <img src="{{product.images ? product?.images[0] : '../../../../../../assets/images/pills-img.png'}}" style="width: 100%;" class="img-fluid">
                </div>

                <div class="mt-3 d-flex" style="overflow: hidden;">
                    <div class="gallery-wrapper" style="margin-right: 10px" *ngFor="let img of product?.images">
                        <img src="{{img}}" class="img-fluid thumb-image">
                    </div>
                </div>
            </div>

            <!--Show the details of the drug here-->
            <div class="col-md-5">
                <p class="text-muted small mb-2">{{product?.brand?.variation?.presentation}}</p>
                <p style="padding: 0; margin: 0; font-size: larger;"><strong>{{product?.drug?.name | titlecase}}</strong></p>
                <span class="text-muted mb-2">{{product?.brand?.name | titlecase}} ({{product?.brand?.variation?.strength_value+""+product?.brand?.variation?.strength}})</span>
                <div class="d-flex" style="margin-top: 15px;">
                    <i class="fa fa-star-o text-success" *ngFor="let rating of ratings"></i>
                    <span class="ml-3 text-muted small">(0 Ratings)</span>
                </div>

                <div class="mt-3 d-flex">
                    <h4>{{(product.actual_price+product.tenmg_amount) | currency: "₦"}}</h4>
                    <!-- <p class="small text-muted ml-3 mt-4" style="text-decoration:line-through; margin-left: 10px;" *ngIf="product.discount !== 0">{{(product?.actual_price + product?.tenmg_amount) | currency:"₦"}}</p> -->
                </div>

                <p>{{product?.brand?.packaging?.package_per_roll+" "+product?.brand?.variation?.presentation}} per roll</p>

                <div class="d-flex mt-2">
                    <div class="icon" style="margin-right: 10px; margin-top: 10px;">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="text">
                        <p> <span>Plus shipping to</span>
                            <br>
                            <span *ngIf="current_address && current_address !== null">{{current_address?.address+" "+current_address?.city+" "+current_address.state+", "+current_address.country}}</span>
                        </p>
                    </div>
                </div>

                <div class="d-flex mt-2">
                    <div class="icon" style="margin-right: 10px; margin-top: 10px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="text">
                        <p class="small"> <span>Orders within Lagos will be delivered within 48 hours</span>
                            <br>
                            <span><span style="text-decoration: underline;" data-bs-toggle="modal" href="#exampleModalToggle1" role="button">click here</span> for shipping dates to your location</span>
                        </p>
                    </div>
                </div>

                <div class="d-flex mt-3">
                    <div class="text" style="margin-right: 20px; margin-top: 7px;">
                        <label>Quantity</label>
                    </div>
                    <div class="form-group small">
                        <input type="number" [(ngModel)]="required_quantity" [disabled]="product.quantity <= 0" max="{{product?.quantity}}" min="1" style="width: 5rem;" class="form-control">
                    </div>
                    <div class="text" style="margin-left: 20px; margin-top: 7px;">
                        <label class="text-muted small" *ngIf="product.quantity > 0">per roll ({{product?.quantity}} in stock)</label>
                        <label class="text-muted small" *ngIf="product.quantity === 0">per roll (Out of Stock)</label>
                    </div>
                </div>

                <div class="form-group d-flex mt-4 justify-content-between">
                    <button class="btn btn-primary" (click)="addToCart()" [disabled]="product.quantity === 0 || is_operation_in_progress">{{is_operation_in_progress ? 'Adding...' : 'Add to cart'}}</button>
                    <span>
                        <i class="fa fa-heart text-danger fa-3x"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="description">
                    <h4>Description</h4>
                    <hr>
                    <p>{{product?.brand?.variation?.description}}</p>
                </div>
                
                <div class="reviews mt-5">
                    <h4>Reviews</h4>
                    <hr>
                    <div class="mt-2 text-center">
                        <span>No review is available for this product yet</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-3"></div> -->
            <!--Show related products down here-->
            <div class="col-md-12 mt-5">
                <h4>Similar Products</h4>
            </div>

            <div class="col-md-12 mt-2">
                <div class="product-flex">
                    <div class="products" *ngFor="let product of other_products" [routerLink]="['/', 'auth', 'products', product.product_id]">
                        <div class="product" [ngStyle]="{'background-image': 'url('+product.images[0]+')'}">
                            <!-- <p class="product-percentage small" *ngIf="product.discount_price !== 0 && product.discount_price < product.actual_price">-{{getPercentage(product)}}%</p> -->
                            <div class="favorite-product"><i class="fa-regular fa-heart"></i></div>
                        </div>
                        <div class="product-details">
                            <div class="product-name">
                                <p>{{product.drug.name | titlecase}}</p>
                            </div>
                            <div class="product-price">
                                <p>{{(product.actual_price+product.tenmg_amount) | currency:"₦"}}</p>
                            </div>
                            <!-- <div class="product-old-price" *ngIf="product.discount_price !== 0">
                                <small>{{product.actual_price | currency: "₦"}}</small>
                            </div> -->
                            <button class="button primary-btn add-to-cart-btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
            <h4>Delivery Options</h4>
            <h5>Lagos:</h5>
            <p>Express Delivery: (Within 48 hours)</p>
            <p>Self Pickup: (Within 48 hours)</p>

            <h5>Outside Lagos</h5>
            <p>Express Delivery: (Within 72 hours)</p>
            <p>Normal Delivery: (Within 7 days)</p>
        </div>
      </div>
    </div>
</div>
