.variation-wrapper {
    border-radius: 5px;
    background-color: #f2fcfe;
    min-height: 100px;
    padding: 10px;
}

.gallery-wrapper {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 10px;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.left-content i {
    cursor: pointer;
}