.signin {
    padding: 4rem 80px;
}

img {
    width: 80px;
}

/*form input {
    width: 100%;
    padding: 5px;
}*/

.form-control {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #eeeef0;
    background-color: #fafafc;
    font-family: 'IBM Plex Sans', 'Roboto', 'Tahoma';
}

p, label, span {
    font-family: 'IBM Plex Sans';
}

label {
    margin: 0; padding: 0;
}

.button {
    padding: 10px;
    width: 100%;
}

/* form {
    width: 30%;
    margin: auto;
    margin-top: 3rem;
} */

a {
    color: var(--primary-color);
}

.black-link {
    color: black;
}


@font-face {
    font-family: "pangaia";
    font-weight: 200;
    src: url('./../../../assets/fonts/PPPangaia-Ultralight.otf');
    /* src: url("./fonts/PPPangaia-Ultralight.otf"); */
  }
  @font-face {
    font-family: "pangaia";
    font-weight: 475;
    src: url("./../../../assets/fonts/PPPangaia-Medium.otf"),
      url("./../../../assets/fonts/PPPangaia-MediumItalic.otf");
  }

  @font-face {
    font-family: "pangaia";
    font-weight: 700;
    src: url("./../../../assets/fonts/PPPangaia-Bold.otf"),
      url("./../../../assets/fonts/PPPangaia-BoldItalic.otf");
  }

  .pharmacist {
    font-family: 'IBM Plex Sans';
    border: 1px solid #EEEEF0;
    border-radius: 10px;
    padding: 15px;
    }

    .reg-button {
        border-radius: 30px;
        border: 1px solid #090055;
    }

    .main-title {
        font-family: 'pangaia';
    }

@media screen and (max-width: 1450px) {
    /* form {
        width: 50%;
    } */
}

@media screen and (max-width: 990px) {
    .signin {
        text-align: center;
    }

    form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .signin {
        text-align: center;
        padding: 4rem 20px;
    }

    form {
        width: 100%;
    }
}