<section class="body-container hero">
    <h1>Become a supplier on 10mg</h1>
    <p>Licensed importers of controlled medics around the world are partnering wiith us for the collective wellbeing
        of all. Join our community of sppliers today.</p>
    <a routerLink="/signup"><button class="button red-btn">Start selling <i class="fa-solid fa-circle-arrow-right"></i></button></a>
</section>
<app-trustedclients></app-trustedclients>
<section class="body-container ecosystem">
    <h2>Check out our value proposition and our Ecosystem</h2>
    <p class="mt-4">We believe in promoting an easy access to opiate based medications by licensed pharmacy businesses ONLY.
    In return, the regulatory agencies can reliably hold the pharmacy business accountable, promoting a mutually
    responsible ecosystem that benefit Africans.</p>
</section>
<app-testimonials></app-testimonials>
<app-footer></app-footer>