<app-hero></app-hero>
<app-trustedclients></app-trustedclients>
<section class="comp-desc body-container">
    <div class="com-d">
        <img src="../../../assets/images/abstract-img1.png" alt="abstract-img">
        <article class="lead-texts">
            <h5 class="mb-4">Across Africa, record estimate around 60 million active users and approximately 34 deaths every minute from the use of opiate based
                medications for non medical purposes.
            </h5>
            <small><em>A 2021 Report</em></small>
            <p class="my-3">Promoting an ecosystem where regulatory agencies have access to real-time data is key in preventing the abuse of opiate based medications.</p>
            <p>Founder's Perspective</p>
        </article>
    </div>
    <div class="com-d marg-top">
        <article class="lead-texts">
            <h5 class="mb-4">ACHIEVING SDG 3.5 IS CRITICAL AND REQUIRES KEY PARTNERSHIPS
            </h5>
            <p class="my-3">Changing the way pharmaceutical businesses interface in Africa, for the collective well-being of
                everyone on the continent is our mission and a key to achieving SDG 3.5</p>
        </article>
        <img src="../../../assets/images/abstract-img2.png" alt="abstract-img">
    </div>
</section>