<section class="body-container">
    <div class="top-items">
        <i class="fa-solid fa-arrow-left" role="button" routerLink="/backend/orders"></i>
        <h3>{{order?.order_details[0].drug_name | titlecase}}</h3>
        <p>{{order?.status | titlecase}}</p>
    </div>

    <div class="flex-product">
        <!--<table class="table-product">
            <tbody>
                <tr  *ngFor="let detail of details">
                    <td>{{detail.title}}</td>
                    <td>{{detail.info}}</td>
                </tr>
            </tbody>
        </table>-->

        <div class="w-100" *ngIf="order.order_details.length !== 0">
            <!--To hold the items from the left-->
            <div class="col-md-12">
                <div class="item-wrapper" *ngFor="let item of order.order_details; let i=index">
                    <div class="left-items d-flex">
                        <div class="">
                            <img src="{{item.image ? item.image: ''}}" class="img-fluid" style="max-width: 120px;">
                        </div>
                        <div class="ml-2" style="margin-left: 10px;">
                            <h6>{{item.drug_name | titlecase}}</h6>
                            <p class="text-muted">{{item.brand?.packaging?.package_per_roll+" "+item?.brand?.variation?.presentation | titlecase}}  per roll</p>
                            <p class="text-muted small">{{item.brand_name | titlecase}} ({{item?.brand?.variation?.strength}})</p>
                        </div>
                    </div>

                    <div class="">
                        <div class="d-flex justify-content-between">
                            <h5 style="margin: 0; padding: 0;">{{(item.discount_price * item.quantity) | currency: "₦"}}</h5>
                            <p class="text-muted" style="text-decoration: line-through; margin-left: 10px; margin-top: 20px;">{{(item.actual_price * item.quantity) | currency: "₦"}}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span style="margin-top: 5px;">Quantity: {{item.quantity}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--to Display total sales
            <div class="col-md-4" style="margin-bottom: 20px;">
                <div class="variation-wrapper">
                    <p style="margin-bottom: 10px;"><strong>Delivery Address</strong></p>
                    <p>{{business_address?.address | titlecase}}</p>
                    <p>{{business_address?.city | titlecase}}</p>
                    <p>{{business_address?.state+", "+business_address?.country | titlecase}}</p>

                    <div class="mt-3 mb-3">
                        <span class="text-primary small mt-3" role="button">Change delivery address</span>
                    </div>
                    

                    <div class="delivery-box">
                        <div class="form-group d-flex" *ngIf="business_address.state && business_address.state !== 'lagos'">
                            <label style="margin-top: 10px;">
                                <input type="radio" [(ngModel)]="delivery" value="express">
                            </label>
                            <div style="padding-left: 5px;">
                                <p class="small" style="margin-left: 5px; margin: 0; padding: 0;">Express Delivery</p>
                                <p class="small text-muted" style="font-size: x-small; margin: 0; padding: 0;">Delivered between thursday 04 and friday 05</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>-->
        </div>

        <div class="product">
            <!--<div class="product-image"></div>-->
            <div class="">
                <p style="margin-bottom: 10px;"><strong>Delivery Address</strong></p>
                <p class="small">{{order.delivery_address?.address | titlecase}}</p>
                <p class="small">{{order.delivery_address?.city | titlecase}}</p>
                <p class="small">{{order.delivery_address?.state+", "+order.delivery_address?.country | titlecase}}</p>
            </div>
            <p class="product-name mt-3"><strong>Total Order Amount</strong><span class="d-block">{{order.order_total | currency: "₦"}}</span></p>
            <p class="product-name mt-3"><strong>Logistics Amount</strong><span class="d-block">{{order.logistics_total | currency: "₦"}}</span></p>
            <p class="my-3"><strong>Total Products:</strong> {{order.order_details.length}}</p>
            <div class="action-btns" *ngIf="order.status !== 'Pending'">
                <a routerLink="/backend/track-order/{{order.order_id}}"><button class="button primary-btn">Track order</button></a>
                <a href="" *ngIf="order.status === 'Paid' || order.status === 'Unshipped'" data-bs-toggle="modal" data-bs-target="#updateModal"><button class="button secondary-btn mt-3">Update Status</button></a>
            </div>
            <div class="action-btns" *ngIf="order.status === 'Pending'">
                <a routerLink="/auth/order/{{order.order_id}}"><button class="button primary-btn">Make Payment</button></a>
                <!-- <a href="#"><button class="button secondary-btn mt-3">Cancel order</button></a> -->
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Order Status: #{{order.order_id}}</h5>
          <button type="button" class="btn-close" id="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="cForm">
                <div class="form-group">
                    <label>Action</label>
                    <select class="form-control" formControlName="action" (change)="handleStatusChange()">
                        <option *ngFor="let action of actions" value="{{action}}">{{action | titlecase}}</option>
                    </select>
                </div>

                <div class="form-group mt-2" *ngIf="order.order_details.length > 1">
                    <label>Product</label>
                    <select class="form-control" name="aproduct" formControlName="affected_product">
                        <option value="{{p.drug_name}}" *ngFor="let p of order.order_details">{{p.drug_name | titlecase}}</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
                </div>
                <div class="form-group mt-2" *ngIf="current_action === 'shipped'">
                    <input type="text" class="form-control" placeholder="Tracking ID">
                </div>

                <div class="form-group mt-2">
                    <button class="btn btn-primary w-100" [disabled]="is_operation_in_progress" (click)="updateOrderStatus()">{{is_operation_in_progress ? 'Updating...' : 'Update Status'}}</button>
                </div>
            </form>


        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div>
    </div>
</div>