.tabs {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.tabs a.tab-title {
    color: #aaa;
}

.active {
    font-weight: 700;
    color: var(--primary-color) !important;
}