<section class="become-supplier body-container">
    <div class="lead-text">
        <h2>Get unlimited Value for your products</h2>
        <!-- <p>Promoting an ecosystem where regulatory agencies have access to real-time data is key in preventing the abuse of opiate based medications. </p> -->
        <p>Join our network of opiate based medication suppliers and benefit from our wide visibility.</p>
    </div>
    <a routerLink="/become-supplier"><button class="button red-btn">Become Supplier <i
        class="fa-solid fa-circle-arrow-right"></i></button></a>
</section>





