<section class="body-container footer-container">
    <div class="divider"></div>
    <div class="footer-contents my-5">
        <div class="footer-brand">
            <a href="#"><img src="../../../../assets/images/10mgVert.png" alt="footer logo"></a>
        </div>
        <div class="footer-details">
            <p class="my-4"><i class="fa-solid fa-location-dot blue-icon me-4"></i>34 Akande Street 102001, Lagos
                Nigeria</p>
            <p class="my-4"><i class="fa-solid fa-location-dot blue-icon me-4"></i>58 College House, Bridge Road B8 3TE
                Birmingham United Kingdom
            </p>
            <p class="my-4"><i class="fa-solid fa-phone blue-icon me-2"></i> +2348188649458, <i
                    class="fa-solid fa-phone blue-icon ms-3 me-2"></i> +2348188649458</p>
            <div class="social-links my-4">
                <small>Social Media</small>
                <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook blue-icon mx-3"></i></a>
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter blue-icon mx-3"></i></a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin blue-icon mx-3"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram blue-icon mx-3"></i></a>
            </div>
            <a href="mailto:info@10mg.co.uk"><button class="primary-btn button mb-4">Send us a Message</button></a>
            <form class="newsletter">
                <label for="subscribe">Subscribe to our free newsletter</label>
                <div class="form-input d-flex align-items-center mt-2">
                    <div class="input-container textfield">
                        <i class="fa-solid fa-envelope me-3"></i>
                        <input type="email" name="email" id="subscribe" placeholder="Enter your email address">
                    </div>
                    <button typ="submit" class="red-btn button ms-3 p-2">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <div class="divider faded"></div>
    <div class="footer-flex-container mt-5">
        <div class="footer-links">
            <a routerLink="/about" class="me-3 mt-sm-5">About us</a>
            <a routerLink="/signup" class="mx-3 mt-sm-5">Sign up</a>
            <a routerLink="/faq" class="mx-3 mt-sm-5">Help/FAQ</a>
            <a routerLink="/privacy-policy" class="mx-3 mt-sm-5">Privacy Policy</a>
            <a routerLink="/terms-and-condition" class="mx-3 mt-sm-5">Terms and Conditions</a>
        </div>
        <div class="copyright">
            <p class="mb-0">Copyright &copy; {{getYear}}. 10mg Pharma</p>
        </div>
    </div>
</section>