<section class="hero-container">
    <div class="body-container">
        <h1 class="mb-3">Welcome to 10mg Pharma</h1>
        <p class="mb-5">Access to reliable data tot sufficiently promote the safe use of opiate based medication in
            Africa is still a problem</p>
        <button class="d-flex align-items-center button mb-5 vid-btn" data-bs-toggle="modal" data-bs-target="#videoModal">
            <p>Watch Video Documentary</p> <i class="fa-solid fa-circle-play ms-2"></i>
        </button>
        <a routerLink="/signup"><button class="button primary-btn">Register your Pharmacy <i
            class="fa-solid fa-circle-arrow-right"></i></button></a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <iframe width="100%" height="100%" src="https://youtube.com/embed/THgJOshiuck" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>