<div class="content">
    <div class="row justify-content-center mt-2">
        <div class="col-md-6 bg-light rounded p-3">
            <form [formGroup]="uForm">
                <div class="form-group mt-3">
                    <input type="password" name="pword" formControlName="password" class="form-control" placeholder="New Password">
                </div>

                <div class="form-group mt-3">
                    <input type="password" name="change_pword" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
                </div>

                <div class="form-group mt-3">
                    <button class="btn btn-primary w-100" (click)="changePassword()" [disabled]="!uForm.valid || is_operation_in_progress">{{is_operation_in_progress ? '...Processing' : 'Change Password'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="btnLaunch" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="text-muted small mt-2 mb-2 text-center">We have sent a verification code to your email, please provide the code to complete password change</p>
          <form [formGroup]="cForm">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="confirmation_code" placeholder="Confirmation Code">
            </div>

            <div class="form-group mt-3 mb-3">
                <button class="btn btn-primary w-100" [disabled]="!cForm.valid || is_operation_in_progress">{{is_operation_in_progress ? '..Processing' : 'Done'}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
