@font-face {
    font-family: "pangaia";
    font-weight: 200;
    src: url('./../../../assets/fonts/PPPangaia-Ultralight.otf');
    /* src: url("./fonts/PPPangaia-Ultralight.otf"); */
  }
  @font-face {
    font-family: "pangaia";
    font-weight: 475;
    src: url("./../../../assets/fonts/PPPangaia-Medium.otf"),
      url("./../../../assets/fonts/PPPangaia-MediumItalic.otf");
  }

  @font-face {
    font-family: "pangaia";
    font-weight: 700;
    src: url("./../../../assets/fonts/PPPangaia-Bold.otf"),
      url("./../../../assets/fonts/PPPangaia-BoldItalic.otf");
  }


.main-title {
    font-family: 'pangaia';
}

.signup {
    padding: 4rem 80px;
}

img {
    width: 80px;
}

.tabs {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}

.form-contents {
    padding: 30px;
}

.top-contents {
    margin: 3rem 0;
    text-align: center;
}

.form-title {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: small;
    text-transform:uppercase;
}

.pharmacist {
    font-family: 'IBM Plex Sans';
    border: 1px solid #EEEEF0;
    border-radius: 10px
}


a {
    color: #181818
}

a.active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Poppins', 'Tahoma';
}

.reg-button {
    border-radius: 30px;
    border: 1px solid #090055;
}

form input, select {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #eeeef0;
    background-color: #fafafc;
    font-family: 'IBM Plex Sans', 'Roboto', 'Tahoma';
}

p, label, span {
    font-family: 'IBM Plex Sans';
}

label {
    margin: 0; padding: 0;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.password-container input {
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #eeeef0;
    background-color: #fafafc;
    font-family: 'IBM Plex Sans', 'Roboto', 'Tahoma';
    margin: 0;
}

.password-container i {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.button {
    padding: 10px;
    width: 100%;
}

.code-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.code-input input {
    text-align: center;
}

.pag {
    color: black;
    text-align: right;
}

.pag span {
    color: var(--fade-black)
}

.actions-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-input {
    width: 100%;
    background: var(--fade-black);
    cursor: pointer;
    text-align: center;
}

.sel-file p {
    text-align: left;
}

label {
    text-align: left;
    margin-bottom: 10px;
    width: 100%
}

.form-check {
    text-align: left;
}

.form-check label, .form-check input {
    width: 0;
    text-align: left;
}

.details {
    color: #777;
    font-size: 14px;
}

.form-contents img {
    width: 180px;
}

.text-4xl {
    font-size: 2rem;
    line-height: 2.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@media screen and (max-width: 1450px) {
    .tabs {
        width: 50%;
    }
}

@media screen and (max-width: 990px) {
    .signup {
        text-align: center;
    }

    .form-contents {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .signup {
        text-align: center;
        padding: 4rem 20px;
    }

    .form-contents, .tabs {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .form-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 380px) {
    .tabs {
        flex-direction: column;
        gap: 2rem;
    }
}