/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0072CE;
    --secondary-color: #EF8A89;
    --white: #FFF;
    --order-placed-color: #2FBD6A;
    --delivered-color: #F2C422;
    --pending-color: #FFF0DB;
    --footer-background: #F4FAFF;
    --primary-fade-color: #7BB9FC;
    --box-shadow: 1px solid var(--primary-color);
    --grey-bg: #FAFAFA;
    --text-color: #0A142F;
}

h1, h2, h3, h4, h5 {
    font-family: "Cabin", sans-serif;
    line-height: 64px;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 24px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.h-line {
    background: var(--primary-color);
    height: 1px;
    width: 100%;
}

.h-line-fade {
    background: var(--primary-fade-color);
    height: 1px;
    width: 100%;
    opacity: 0.2;
}

.primary-btn {
    background: var(--primary-color);
    color: var(--white);
    width: max-content;
    padding: 10px;
    border: none;
    box-sizing: var(--box-shadow);
}

.secondary-btn {
    background: var(--white);
    color: var(--primary-color);
    width: max-content;
    padding: 10px;
    border: none;
    box-sizing: var(--box-shadow);
}

.texfield {
    background: var(--grey-bg);
    color: var(--text-color);
}

.divider {
    background: #DEDEDE;
    width: 100%;
    height: 1px;
}

