

.list-container {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    bottom: -25;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    min-height: 30px;
    max-height: 250px;
    overflow: auto;
    z-index: 9999;
}

.list-container ul {
    margin-left: -30px;
}

.list-container ul li {
    display: block;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
    background-color: #ffffff;
}

.list-container ul li:hover {
    background-color: #ececec;
}

.drop {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 1rem;
    cursor: pointer;
}