<section class="">
    <div class="heading">
        <div class="head-title">
            <h4 class="mb-0">Products</h4>
        </div>
        <div class="head-actions">
            <i class="fa-solid fa-user" role="button" data-bs-toggle="dropdown"></i>
            <div class="dropdown">
                <ul class="dropdown-menu">
                    <li class="dropdown-item">Uyi Vincent</li>
                    <li><a class="dropdown-item" href="#">View Profile</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <i class="fa-solid fa-bell" role="button" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">You have no message</a></li>
                </ul>
            </div>
            <div class="vr"></div>
            <div class="user-name">
                <p>Nordic Naturals</p>
                <small>#122-8234-0612</small>
            </div>
        </div>
    </div>
</section>

<div class="main">
    <app-db-side-nav></app-db-side-nav>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
