<section class="body-container account-container ">
    <div class="account mt-5">
        <div class="breadcrumb d-flex align-items-center">
            <a href="#">Previous</a>
            <i class="fa-solid fa-chevron-right mx-3"></i>
            <p class="mb-0">Product details</p>
        </div>
        <div class="overview">
            <p>Account Overview</p>
        </div>
        <div class="account-details">
            <div class="pharmarcy-details details-container">
                <div class="texts">
                    <h3>{{title1.toUpperCase()}}</h3>
                    <p>ID: {{id}}</p>
                    <p>Name: Laura Pharmarcy</p>
                    <p>Contact: 090123456789</p>
                    <p>Location: Lagos, Nigeria</p>
                    <p>License no: 124564BC</p>
                    <p>Expiring date: 03-05-26</p>
                </div>
                <div class="action-btn">
                    <button class="button secondary-btn">Edit</button>
                </div>
            </div>
            <div class="pry-delivery-address details-container">
                <div class="texts">
                    <h3>{{title2.toUpperCase()}}</h3>
                    <p>2 Oduyebo Ikorodu Odogunyan, Ikorodu, Lagos, Nigeria</p>
                </div>
                <div class="action-btn">
                    <button class="button secondary-btn">Edit</button>
                </div>
            </div>
            <div class="account-settings details-container">
                <h3>{{title3.toUpperCase()}}</h3>
            </div>
        </div>
    </div>
</section>