<section class="body-container about-hero">
    <div class="lead-text">
        <h1>About Us</h1>
        <p>10mg Pharma is a tech solution. Licensed retail and hospital pharmacies will no doubt connect seamlessly with
            the wholesalers of opiate based medications and access suitable benefits, including prompt, safe delivery
            and good pricing.</p>
    </div>
    <div class="video-frame">
        <iframe width="100%" height="500px" src="https://youtube.com/embed/THgJOshiuck" frameborder="0"></iframe>
    </div>
</section>